body{
	background:#fff;
}
.purchasedetail {
	font-size:0.28rem;/*font-size: 1.4rem;*/
	width: 100%;
	float:left;
}
html,body{
	height: 100%;
}
.purchasedetail-main{
	height: 100%;
}
.swipeContent{
	padding-bottom:1px;
	margin-top:.88rem;/*新增*/
	width:100%;
}
#purchasedetail_salesinfo {
	width:100%;
}
#purchasedetail_goodstitle {
	padding:0 15px;
	margin-top:.24rem;
	min-height:.6rem;
	line-height:.6rem;
	width:100%;
	overflow: hidden;
	background: #fff;
  	font-size:0.32rem;
  	color: #3f3f3f;
  	font-weight:bold;
	box-sizing: border-box;
}
#purchasedetail_priceinfo{
	position:relative;
	width:100%;
	height:.66rem;
	overflow: hidden;
}

#purchasedetail_priceinfo >:nth-child(1) {
	line-height: 30px;
	color: #999;
	font-family: arial;
	padding:0 15px;
	overflow: hidden;
}
.groupprice {
	position:relative;
	height:.66rem;
	color:#fa5515;
}
.groupprice b.gprice{
	display:inline-block;
	height:.66rem;
	padding-right:.1rem;
	font-size:.4rem;
	line-height:.66rem;
}
.groupprice b.gprice sub{
	padding-left:5px;
	font-size:.28rem;
}
.oldprice {
	height:.38rem;
	line-height:.38rem;
	margin-top:12px;
	font-size:.3rem;/*1.4rem;*/
	color: #999;
	margin-left:.2rem;
	text-decoration:line-through;
}
.freight{
	margin-top:.1rem;
	height:.5rem;
	line-height:.5rem;
	font-size:.3rem;
	color:#8a8989;
}
.purchasedetail_numinfo {
    color: #646464;
    overflow: hidden;
    width: 100%;
    height:.62rem;
    line-height:.62rem;
    font-size:.28rem;
    padding-bottom:8px;
}
.purchasedetail_numinfo>div{
	background: #fff none repeat scroll 0 0;
    width: 100%;
    height:.62rem;
}
.purchasedetail_numinfo span{
	float:right;
	margin-right:.3rem;
	padding-left:.2rem;
	text-align:center;
	display:inline-block;
}
#purchasedetail_goodsinfo {
	width:100%;
	float:left;
	background-color: #FFFFFF;
	border-top:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
}
#purchasedetail_goodsinfo p{
	line-height: 14px;
	color: #666;
	margin-bottom: 10px;
	margin:10px 15px;
}
#graphDetails img{
	width:100%;
}

#purchasedetail_submit{
	color: #FFF;
	float: right;
	background: #fa5515;
	cursor: pointer;
	text-decoration: none;
	height: 100%;
	width: 100%;/*width: 32%;*/
	line-height:1.1rem;
}
.fixed{
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
}

#submit {
  height: 1.1rem;
  width: 100%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  border-top-width: thin;
  border-top-style: solid;
  border-top-color: #CCC;
  text-align: center;
  left: 0;
}

input[id=salesnum]:disabled{
	background-color: #FFFFFF;
}

#purchasedetail_submit span{
  position: relative;
  transform: translateY(-50%);
  top: 35%;
}


#purchasedetail_salesinfo>:nth-child(3) ul{
	list-style-type: none;
	float: left;
}

#purchasedetail_salesinfo>:nth-child(3) ul li{
	float: left;
	margin-right: 25px;
}

/*after add*/
.detail-title{
	width:100%;
	height:.8rem;
	text-align:center;
	line-height:.8rem;
	font-size:.3rem;
	color:#323232;
}
/**/
.swiper-wrapper img{width:100%;}
.graphDetails{ width:100%; }
.grouponIntro_div{
	width:100%;
}
.grouponIntro{ width:100%; line-height:18px; background:#fff;}
.grouponIntro div{
	width:100%;
}
.grouponIntro p{
	padding:15px 15px 10px 15px;
	color:#999;
}
.goodsIntro{
	width:100%;
}
.scale_bottom_ddd {
	background-image: -webkit-linear-gradient(#d7d7d7 50%,transparent 50%);
	background-image: -moz-linear-gradient(#d7d7d7 50%,transparent 50%);
	background-image: -o-linear-gradient(#d7d7d7 50%,transparent 50%);
	background-image: linear-gradient(#d7d7d7 50%,transparent 50%);
	background-size:  100% 1px;
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom:1px;
}
.scale_top_ddd {
	background-image: -webkit-linear-gradient(#d7d7d7 50%,transparent 50%);
	background-image: -moz-linear-gradient(#d7d7d7 50%,transparent 50%);
	background-image: -o-linear-gradient(#d7d7d7 50%,transparent 50%);
	background-image: linear-gradient(#d7d7d7 50%,transparent 50%);
	background-size:  100% 1px;
	background-repeat: no-repeat;
	background-position: 0 0;
	padding-top:1px;
}
#ads-container{
	background: #FFFFFF;
}
.purchasedetail-main{
	opacity: 0;
}
.shop-introd{
	min-height: 200px;
	text-align: left;
	line-height:.3rem;/*2rem;*/
}
.shop-introd p{
	padding:10px;/*padding: 10px 0;*/
	color: #5C5C5C;
}
.introd-img{
	width: 100%;
}
.service-introdtop p{
	font-size:.3rem;/*1.6rem;*/
	color: #373737;
	text-align: center;
	padding: 12px 0;
	position: relative;
}
#shade{
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
}
@media only screen and (max-width:350px) {
	.service-list>li>div.fl {
		width: 86%;
	}
}
.red-circle{margin-left: 45%;}

/*header*/
#exitApp{
	bottom: 0;
    display: inline-block;
    height: 12px;
    left: 12px;
    position: absolute;
    top: 0;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    width: 12px;
    z-index: 1;
    border-color: #696969;
    border-style: solid;
    border-width: 2px 0 0 2px;
    margin: auto;
}
.header_fixed{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: .88rem;
    line-height:.88rem;
    padding-right: .1rem;
    padding-left: .1rem;
    background-color: #f7f7f8;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.header_fixed .title{
	font-size:.34rem;
	text-align:center;
	font-weight:500;
}
/*swiper pagination*/
.swiper-pagination-bullet{
	background:#fff;
}
/*reset footer fontsize*/
footer{
	height:1.1rem;
	font-size:.4rem;
}

/*deliveryAddress*/
#delivery_address{
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	min-height:100%;
	height:200%;
	background:#eee;
	z-index:1000;
}
#delivery_address.active{
	display:block;
}
/*header*/
#delivery_address .dheader{
	position:relative;
	width:100%;
	height:.88rem;
	background:#f7f7f8;
	line-height:.88rem;
    padding-right: .1rem;
    padding-left: .1rem;
}
#delivery_address .dheader .dtitle{
	font-size:.34rem;
	text-align:center;
	font-weight:500;
}
#delivery_address .dheader #save{
	position:absolute;
	right:12px;
	top:0;
	padding:0 12px;
	font-size:.28rem;
}
#delivery_address #back{
    position: absolute;
    top: 0;
	bottom: 0;
    left: 12px;
    display: inline-block;
    height: 12px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    width: 12px;
    z-index: 1;
    border-color: #696969;
    border-style: solid;
    border-width: 2px 0 0 2px;
    margin: auto;
}
/*content*/
#delivery_address #content{
	background:#fff;
}
#delivery_address #content .con{
	display:flex;
	width:100%;
	height:.8rem;
	flex-direction: row;
	line-height:.8rem;
	border-bottom:1px solid #f0f0f0;
	padding-left:.2rem;
	padding-right:.2rem;
	box-sizing:border-box;
}
#delivery_address #content .con.textarea{
	height:1.6rem;
}
#delivery_address #content .con .con_left{
	/*background:#99f;*/
	width:1.8rem;
	font-size:.3rem;
}
#delivery_address #content .con .con_right{
	width:100%;
	/*background:#f99;*/
}
#delivery_address #content .con .con_right input{
	width:100%;
	vertical-align:middle;
	/*background:#9f9;*/
	font-size:.3rem;
}
#delivery_address #content .con .con_right textarea{
	padding-top:.14rem;
	width:100%;
	height:1.6rem;
	font-size:.3rem;
	resize: none;
	line-height:1.6em;
	box-sizing: border-box;
}
.buy_info_wrapper{
	display:none;
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.8);
	z-index:1000;
	font-size:.3rem;
}
.buy_info_wrapper.active{
	display:block;
}
#buy_info{
	position:absolute;
	bottom:0;
	left:0;
	padding-left:0.3rem;
	padding-right:0.3rem;
	width:100%;
	min-height:3rem;
	background:#fff;
	border-top:1px solid #d7d7d7;
	box-sizing:border-box;
}
#buy_info.active{
	display:block;
}
#buy_info .name_phone{
	margin-top:.3rem;
}
#buy_info .name_phone .name{
	color:#383838;
	padding-right:.2rem;
}
#buy_info .name_phone .phone{
	
}
#buy_info>div{
	height:.5rem;
	width:100%;
	line-height:.5rem;
	color:#666;
}
#buy_info>div.add{
	max-height:.5rem;
}
#buy_info #info_sure{
	position:absolute;
	left:0;
	bottom:0;
	height:1.1rem;
	width: 100%;
	line-height:1.1rem;
	color: #FFF;
	background: #fa5515;
	cursor: pointer;
	font-size:.4rem;
	text-align:center;
}
#buy_info .edit_address{
	position:absolute;
	right:.2rem;
	top:.2rem;
	padding:.1rem;
	font-size:.3rem;
}
/*error tip con*/
.errorTip,.errorTitle>span,.errorBtn{
	font-size:.3rem;
}
.errorContent,.cancelBtn {
    font-size: .3rem;
}
